{% extends "fruits/base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="{{ goodssku.image.url }}" style="width:350px"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goodssku.name }}</h3>
			<p>{{ goodssku.desc }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ goodssku.price }}</em></span>
				<span class="show_unit">单  位：{{ goodssku.unite }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>
                    {% for i in same_spu_sku %}
                    <a href="">{{ i.name }}</a>
                    {% endfor %}
				</div> 
			</div>
			<div class="total">总价：<em>16.80元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for i in goodssku_list %}
					<li>
						<a href="{% url "fruits:detail" i.id %}"><img src="{{ i.image.url }}"></a>
						<h4><a href="{% url "fruits:detail" i.id %}">{{ i.name }}</a></h4>
						<div class="prize">￥{{ i.price }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li class="comment">评论</li>
			</ul>

			<div class="tab_content" style="display: block">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ goodsspu.detail|safe }}</dd>
				</dl>
			</div>
            <div class="tab_comment" style="display: none">
				<dl>
					<dt>商品评论：</dt>
					<dd>{{ goodsspu.detail|safe }}</dd>
				</dl>
			</div>
		</div>
	</div>
    <div class="add_jump"></div>
{% endblock content %}
{% block script %}
    <script type="text/javascript">
        $('.add').click(function () {
                        $num_show=parseInt($('.num_show').val())
                        $num_show+=1
                        console.info($num_show)
                        $('.num_show').val($num_show)
                    })
                    $('.minus').click(function () {
                        $num_show=parseInt($('.num_show').val())
                        $num_show-=1
                        if (1 > $num_show){
                            $num_show=1
                        }
                        console.info($num_show)
                        $('.num_show').val($num_show)
        })

		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

        $("#add_cart").click(function(){
            $.ajax({
                "url":"{% url "fruits:add_car" %}",
                "data":{
                        "id":{{ goodssku.id }},
                        "num":$(".num_show").val()
                },
                "success":function (data) {
                    if(data.res==5){
                        $(".add_jump").css({"left":$add_y+80,"top":$add_x+10,"display":"block"})
                        $(".add_jump").stop().animate({
                            "left":$to_y+7,
                            "top":$to_x+7},
                            "slow",function () {
                                $(".add_jump").fadeOut('fast',function () {
                                    $("#show_count").html(data.total_count);

                                })
                            }
                        )
                    }
                    else{
                        alert(data.errmsg)
                    }
                }
            })
        })
        $(function () {
                    $(".active").click(function () {
                        $(".tab_content").css("display","block")
                        $(".tab_comment").css("display","none")

                    })
                    $(".comment").click(function () {
                                $(".tab_content").css("display","none")
                                $(".tab_comment").css("display","block")

                            })
        })
	</script>
{% endblock script %}