{% extends "fruits/base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{ type.name }}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for i in goodssku_list %}
					<li>
						<a href="{% url "fruits:detail" i.id %}"><img src="{{ i.image.url }}"></a>
						<h4><a href="{% url "fruits:detail" i.id %}">{{ i.name }}</a></h4>
						<div class="prize">￥{{ i.price }}</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="{% url "fruits:list" type.id 1 %}?sort=1" {% if sort == '1' %}class="active"{% endif %}>默认</a>
				<a href="{% url "fruits:list" type.id 1 %}?sort=2" {% if sort == '2' %}class="active"{% endif %}>价格</a>
				<a href="{% url "fruits:list" type.id 1 %}?sort=3" {% if sort == '3' %}class="active"{% endif %}>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
                {% for i in my_page %}
				<li>
					<a href="{% url "fruits:detail" i.id %}"><img src="{{ i.image.url }}"></a>
					<h4><a href="detail.html">{{ i.name }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ i.price }}</span>
						<span class="unit">16.80/500g</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}
			</ul>

			<div class="pagenation">
                {% if page.has_previous %}
				<a href="{% url "fruits:list" type.id my_page.previous_page_number %}?sort={{ sort }}">上一页</a>
                {% endif %}
            {% for i in pages %}
            {% if i == my_page.number %}
				<a href="{% url "fruits:list" type.id i %}?sort={{ sort }}" class="active">{{ i }}</a>
            {% else %}
				<a href="{% url "fruits:list" type.id i %}?sort={{ sort }}">{{ i }}</a>
            {% endif %}
            {% endfor %}
				{% if my_page.has_next %}
				<a href="{% url "fruits:list" type.id my_page.next_page_number %}?sort={{ sort }}">下一页></a>
                {% endif %}

			</div>
		</div>
	</div>

{% endblock content %}

{% block script %}{% endblock script %}