{% extends "fruits/base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{ type.name }}</a>
	</div>

	<div class="main_wrap clearfix">
{#		<div class="l_wrap fl clearfix">#}
{#			<div class="new_goods">#}
{#				<h3>新品推荐</h3>#}
{#				<ul>#}
{#                    {% for i in goodssku_list %}#}
{#					<li>#}
{#						<a href="{% url "fruits:detail" i.id %}"><img src="{{ i.image.url }}"></a>#}
{#						<h4><a href="{% url "fruits:detail" i.id %}">{{ i.name }}</a></h4>#}
{#						<div class="prize">￥{{ i.price }}</div>#}
{#					</li>#}
{#					{% endfor %}#}
{#				</ul>#}
{#			</div>#}
{#		</div>#}

		<div class="r_wrap fr clearfix">
{#			<div class="sort_bar">#}
{#				<a href="{% url "fruits:list" type.id 1 %}?sort=1" {% if sort == '1' %}class="active"{% endif %}>默认</a>#}
{#				<a href="{% url "fruits:list" type.id 1 %}?sort=2" {% if sort == '2' %}class="active"{% endif %}>价格</a>#}
{#				<a href="{% url "fruits:list" type.id 1 %}?sort=3" {% if sort == '3' %}class="active"{% endif %}>人气</a>#}
{#			</div>#}

			<ul class="goods_type_list clearfix">
                {% for i in page %}
				<li>
					<a href="{% url "fruits:detail" i.object.id %}"><img src="{{ i.object.image.url }}"></a>
					<h4><a href="{% url "fruits:detail" i.object.id %}">{{ i.object.name }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ i.object.price }}</span>
						<span class="unit">{{ i.object.price }}/{{ i.object.unite }}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}
			</ul>

			<div class="pagenation">
                {% if page.has_previous %}
				<a href="/search/?q={{ query }}&page={{ page.previous_page_number }}">上一页</a>
                {% endif %}
            {% for i in paginator.page_range %}
            {% if i == page.number %}
				<a href="/search/?q={{ query }}&page={{ i }}" class="active">{{ i }}</a>
            {% else %}
				<a href="/search/?q={{ query }}&page={{ i }}">{{ i }}</a>
            {% endif %}
            {% endfor %}
				{% if my_page.has_next %}
				<a href="/search/?q={{ query }}&page={{ page.next_page_number }}">下一页></a>
                {% endif %}

			</div>
		</div>
	</div>

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	
</body>
</html>
{% endblock content %}

{% block script %}
<script>
    $(function () {
        get_count()
{#        var $add_x = $('#add_cart').offset().top;#}
{#		var $add_y = $('#add_cart').offset().left;#}
{##}
{#		var $to_x = $('#show_count').offset().top;#}
{#		var $to_y = $('#show_count').offset().left;#}
{##}
{#        $("#add_cart").click(function(){#}
{#            $.ajax({#}
{#                "url":"{% url "fruits:add_car" %}",#}
{#                "data":{#}
{#                        "id":{{ goodssku.id }},#}
{#                        "num":$(".num_show").val()#}
{#                },#}
{#                "success":function (data) {#}
{#                    if(data.res==5){#}
{#                        $(".add_jump").css({"left":$add_y+80,"top":$add_x+10,"display":"block"})#}
{#                        $(".add_jump").stop().animate({#}
{#                            "left":$to_y+7,#}
{#                            "top":$to_x+7},#}
{#                            "slow",function () {#}
{#                                $(".add_jump").fadeOut('fast',function () {#}
{#                                    $("#show_count").html(data.total_count);#}
{##}
{#                                })#}
{#                            }#}
{#                        )#}
{#                    }#}
{#                    else{#}
{#                        alert(data.errmsg)#}
{#                    }#}
{#                }#}
{#            })#}
{#        })#}
    })
    function get_count(){
            $.ajax({
                "url":"{% url "fruits:get_count" %}",
                "data":{},
                "success":function (data) {
                    $(".goods_count").html(data.total_count)
                    console.info(data.total_count)
                }
            })
        }

</script>
{% endblock script %}