{% extends "fruits/base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url "user:user_center_info" %}">· 个人信息</a></li>
				<li><a href="{% url "fruits:check_order" %}">· 全部订单</a></li>
				<li><a href="{% url "user:user_center_site" %}" class="active">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">收货地址</h3>
				<div class="site_con">
					<dl>
                        {% if default_site_list or site_list%}
                            {% for i in default_site_list %}
                                <form action="">
                                    <dt>当前地址：</dt>
						            <dd id="now_address">{{ i.address }} {{ i.sitename }} {{ i.sitephone }}
                                    <a href="{% url "user:update_site" i.id %}">修改</a><a href="{% url "user:del_site" i.id %}">删除</a></dd>
                                </form>
                            {% endfor %}

                            {% for i in site_list %}
                                <form action="">
                                    <dd>{{ i.address }} {{ i.sitename }} {{ i.sitephone }}
                                        <a href="{% url "user:update_site" i.id %}">修改</a><a href="{% url "user:del_site" i.id %}">删除</a></dd><br/>
                                </form>
                            {% endfor %}
                        {% else %}
                            <dt>尚未添加收货地址</dt>
                        {% endif %}
					</dl>
				</div>
				<h3 class="common_title2">编辑地址</h3>
            <a href="{% url "user:add_site" %}">添加收货地址</a>
{#				<div class="site_con">#}
{#					<form action="{% url "user:add_address" %}" method="post">#}
{#                        {% csrf_token %}#}
{#						<div class="form_group">#}
{#							<label>收件人：</label>#}
{#							<input type="text" name="" value="{{ user.username }}">#}
{#						</div>#}
{#						<div class="form_group form_group2">#}
{#							<label>详细地址：</label>#}
{#							<textarea class="site_area" name="address"></textarea>#}
{#						</div>#}
{#						<div class="form_group">#}
{#							<label>设为默认地址：</label>#}
{#							<input type="checkbox" name="is_default" value="1">#}
{#						</div>#}
{#						<div class="form_group">#}
{#							<label>手机：</label>#}
{#							<input type="text" name="" value="{{ user.phone }}">#}
{#						</div>#}
{##}
{#						<input type="submit" name="" value="提交" class="info_submit">#}
{#					</form>#}
{#				</div>#}
		</div>
	</div>

{% endblock content %}

{% block script %}{% endblock script %}