{% extends "fruits/base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url "user:user_center_info" %}">· 个人信息</a></li>
				<li><a href="{% url "fruits:check_order" %}" class="active">· 全部订单</a></li>
				<li><a href="{% url "user:user_center_site" %}">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
                {% for order in order_1 %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">2016-8-21 17:36:24</li>
					<li class="col02">订单号：{{ order.order_id }}</li>
					<li class="col02 stress">未支付</li>		
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
                                {% for i in order1_l %}
                                    {% if order.order_id == i.order.order_id %}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="{{ i.goods.image.url }}"></li>
									<li class="col02">{{ i.name }}<em>{{ i.price }}元/{{ i.goods.unite }}</em></li>
									<li class="col03">{{ i.count }}</li>
									<li class="col04">{{ i.price }}元</li>
								</ul>
                                    {% endif %}
                                {% endfor %}
							</td>
							<td width="15%">{{ order.order_money }}元</td>
							<td width="15%">待付款</td>
							<td width="15%"><a href="#" class="oper_btn">去付款</a></td>

						</tr>
					</tbody>
				</table>
				{% endfor %}

                {% for order in order_2 %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">2016-8-21 17:36:24</li>
					<li class="col02">订单号：{{ order.order_id }}</li>
					<li class="col02 stress">已支付</li>			
				</ul>
				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
                                {% for i in order2_l %}
                                    {% if order.order_id == i.order.order_id %}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="{{ i.goods.image.url }}"></li>
									<li class="col02">{{ i.name }}<em>{{ i.price }}元/{{ i.goods.unite }}</em></li>
									<li class="col03">{{ i.count }}</li>
									<li class="col04">{{ i.price }}元</li>
								</ul>
                                    {% endif %}
                                {% endfor %}
							</td>
							<td width="15%">{{ order.order_money }}元</td>
							<td width="15%">已付款</td>
							<td width="15%"><a href="#" class="oper_btn">查看物流</a></td>
						</tr>
					</tbody>
				</table>
                {% endfor %}
				<div class="pagenation">
					<a href="#"><上一页</a>
					<a href="#" class="active">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">下一页></a>
				</div>
		</div>
	</div>
{% endblock content %}

{% block script %}{% endblock script %}