{% extends "fruits/base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url "user:user_center_info" %}" class="active">· 个人信息</a></li>
				<li><a href="{% url "fruits:check_order" %}">· 全部订单</a></li>
				<li><a href="{% url "user:user_center_site" %}">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<div class="info_con clearfix">
				<h3 class="common_title2">基本信息</h3>
						<ul class="user_info_list">
							<li><span>用户名：</span>{{ user.username }}</li>
							<li><span>联系方式：</span>{{ user.phone }}</li>
                            <li><a href="{% url "user:user_update" %}">修改个人信息</a></li>
						</ul>
				</div>
				
				<h3 class="common_title2">最近浏览</h3>
				<div class="has_view_list">
					<ul class="goods_type_list clearfix">
                    {% if goodssku %}
                        {% for i in goodssku %}
				<li>
					<a href="{% url "fruits:detail" i.id %}"><img src="{{ i.image.url }}"></a>
					<h4><a href="../fruits/detail.html">{{ i.name }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ i.price }}</span>
						<span class="unit">{{ i.price }}/{{ i.unite }}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
                    {% endfor %}
                    {% else %}
                        <h1>尚未浏览商品</h1>
                    {% endif %}
				</li>
			</ul>
		</div>
		</div>
	</div>
{% endblock content %}

{% block script %}{% endblock script %}